a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0 !important;
}

h1,
p {
  margin: 0 !important;
  padding: 0 !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

h2, h3 {
  font-family: var(--ff-oswald);
}

.container {
  max-width: 1180px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-blue-crayola: hsl(202, 75%, 47%);
  --prussian-blue: hsl(202, 72%, 15%);
  --eerie-black: hsl(210, 11%, 15%);
  --dark-orange: hsl(32, 100%, 50%);
  --alice-blue: hsl(203, 100%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --indigo-dye: hsl(202, 64%, 26%);
  --cultured-1: hsl(0, 0%, 94%);
  --cultured-2: hsl(0, 0%, 95%);
  --cultured-3: hsl(0, 0%, 95%);
  --plutinum: hsl(0, 0%, 91%);
  --black_60: hsla(0, 0%, 0%, 0.6);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 24%);
  --ff-oswald: "Oswald", sans-serif;
  --ff-rubik: "Rubik", sans-serif;
  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.2rem;
  --fs-11: 1rem;
  --fs-12: 7rem;
  --fs-13: 8rem;
  --fs-14: 9rem;
  --fs-15: 10rem;
  --fs-16: 11rem;
  --fs-17: 12rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
  --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);
  --shadow-4: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --section-padding: 7.5rem;
}

body {
  overflow-x: hidden;
}

header {
  position: relative;
}
header .hero-shape-img {
  position: absolute;
}
header .hero-shape-img-bottom {
  right: 29px;
  bottom: 30px;
}
header .hero-shape-img-top {
  top: 88px;
  left: 42px;
}

#contact-area {
  position: relative;
}
#contact-area .img-one,
#contact-area .img-two {
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}
#contact-area .img-one {
  top: 65px;
  left: -10px;
}
#contact-area .img-two {
  top: 316px;
  right: 60px;
}
#contact-area .container .inner {
  position: relative;
  top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#contact-area .container .inner .left,
#contact-area .container .inner .right {
  background: var(--cultured-3);
  border-radius: 4px;
  padding: 50px 40px 51px;
  width: 48%;
}
#contact-area .container .inner .left .title h2,
#contact-area .container .inner .right .title h2 {
  font-size: 36px !important;
}
#contact-area .container .inner .left ul {
  margin: 30px 0;
}
#contact-area .container .inner .left ul li {
  display: flex;
  align-items: center;
  margin-top: 30px;
  position: relative;
}
#contact-area .container .inner .left ul li .icon-box {
  margin-right: 12px;
  width: 60px;
  height: 60px;
  background: var(--dark-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 60px solid var(--cultured-3);
  border-right: 60px solid transparent;
}
#contact-area .container .inner .left ul li .icon-box i {
  position: absolute;
  bottom: 52%;
  left: 3%;
  color: var(--eerie-black);
  transition: all 500ms ease;
}
#contact-area .container .inner .left ul li .text-box p {
  text-transform: capitalize;
  color: var(--black_60);
}
#contact-area .container .inner .left ul li .text-box h2 {
  margin-top: 10px;
  color: var(--eerie-black);
}
#contact-area .container .inner .left ul li .text-box h2 a {
  color: var(--eerie-black);
}
#contact-area .container .inner .left ul li:hover i {
  transform: rotateY(180deg);
}
#contact-area .container .inner .right form {
  margin: 30px 0;
}
#contact-area .container .inner .right form .inputs,
#contact-area .container .inner .right form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#contact-area .container .inner .right form input {
  color: black;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 54px;
  background: var(--white);
  border: 0px solid #e4e4e4;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}
#contact-area .container .inner .right form textarea {
  color: rgba(96, 102, 108, 0.6);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 120px;
  border: 0px solid #e4e4e4;
  background: var(--white);
  padding: 18px 20px 0px;
  margin-bottom: 20px;
  outline: none;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  border-radius: 4px;
}
#contact-area .map {
  position: absolute;
  top: 125%;
}
#contact-area .map iframe {
  width: 100vw;
}

footer {
  position: relative;
  top: 556px;
}/*# sourceMappingURL=contact.css.map */