a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0 !important;
}

h1,
p {
  margin: 0 !important;
  padding: 0 !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

h2, h3 {
  font-family: var(--ff-oswald);
}

.container {
  max-width: 1180px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-blue-crayola: hsl(202, 75%, 47%);
  --prussian-blue: hsl(202, 72%, 15%);
  --eerie-black: hsl(210, 11%, 15%);
  --dark-orange: hsl(32, 100%, 50%);
  --alice-blue: hsl(203, 100%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --indigo-dye: hsl(202, 64%, 26%);
  --cultured-1: hsl(0, 0%, 94%);
  --cultured-2: hsl(0, 0%, 95%);
  --cultured-3: hsl(0, 0%, 95%);
  --plutinum: hsl(0, 0%, 91%);
  --black_60: hsla(0, 0%, 0%, 0.6);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 24%);
  --ff-oswald: "Oswald", sans-serif;
  --ff-rubik: "Rubik", sans-serif;
  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.2rem;
  --fs-11: 1rem;
  --fs-12: 7rem;
  --fs-13: 8rem;
  --fs-14: 9rem;
  --fs-15: 10rem;
  --fs-16: 11rem;
  --fs-17: 12rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
  --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);
  --section-padding: 7.5rem;
}

@media (max-width: 576px) {
  .container {
    max-width: 23rem !important;
  }
  .burger-menu {
    display: block !important;
  }
  .header-content {
    display: none !important;
  }
  nav {
    display: none;
  }
  #about .container {
    grid-template-columns: initial !important;
  }
  #about .container .left .shape {
    display: none !important;
  }
  #about .container .left .branch-count {
    width: 57% !important;
    left: 151px !important;
  }
  #about .container .left .line {
    left: 98% !important;
  }
  #about .container .right {
    width: 100% !important;
  }
  #about .container .right .title {
    font-size: 20px !important;
  }
  #about .container .right h2 {
    font-size: 30px !important;
  }
  #about .container .right .btn {
    font-size: 1rem !important;
  }
  .hero-content {
    background-color: var(--black_60);
    text-align: center;
    margin: var(--fs-14) 0;
    padding: 30px;
  }
  .hero-content h2 {
    font-size: 3.7rem !important;
  }
  .hero-content h2 span {
    font-size: var(--fs-3) !important;
  }
  .hero-content .hero-text {
    font-size: 17px !important;
    line-height: 1.6;
  }
  .hero-content a {
    font-size: 14px !important;
    padding: 8px 20px !important;
  }
  #service ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #feature .feature-head {
    display: initial !important;
  }
  #feature .feature-head img {
    display: none !important;
  }
  #feature .feature-head .btn {
    font-size: var(--fs-11) !important;
  }
  #feature ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #feature ul .feature-card .card-number {
    top: 0px !important;
    left: 36% !important;
    font-size: 4rem !important;
  }
  #blog uL {
    grid-template-columns: initial !important;
  }
  #newsletter .newsletter-area {
    height: 100vh !important;
  }
  #newsletter .newsletter-area .img {
    width: 100% !important;
    top: 0 !important;
  }
  #newsletter .newsletter-area .newsletter-content {
    display: initial !important;
    top: 55% !important;
    left: 2% !important;
  }
  #newsletter .newsletter-area .newsletter-content h2 {
    font-size: 2rem !important;
    padding: 30px 0;
  }
  #detail .container,
#blog-detail .container,
#project-detail .container {
    display: inherit !important;
    margin-inline: auto !important;
  }
  #detail .container .title h2,
#blog-detail .container .title h2,
#project-detail .container .title h2 {
    font-size: 23px !important;
  }
  #detail .container .icon img,
#blog-detail .container .icon img,
#project-detail .container .icon img {
    width: 80% !important;
  }
  #detail .container img,
#blog-detail .container img,
#project-detail .container img {
    width: 100%;
  }
  #detail .container .right .services-list,
#blog-detail .container .right .services-list,
#project-detail .container .right .services-list {
    position: initial !important;
    width: 100% !important;
    margin-top: var(--fs-4);
  }
  .footer .footer-top {
    display: initial !important;
  }
  .footer .footer-top li {
    width: 35%;
  }
  .headline .title {
    font-size: 20px !important;
  }
  .headline .subtitle {
    font-size: 25px !important;
  }
  .headline .text {
    font-size: 16px !important;
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
  .container {
    max-width: 720px !important;
  }
  .burger-menu {
    display: block !important;
  }
  nav {
    display: none !important;
  }
  #about .container {
    grid-template-columns: initial !important;
  }
  #about .container .left .shape {
    display: block !important;
  }
  #about .container .left .branch-count {
    width: 33% !important;
    left: 31% !important;
  }
  #about .container .left .line {
    left: 63.6% !important;
  }
  #about .container .right {
    width: 100% !important;
  }
  #about .container .right .title {
    font-size: 20px !important;
    -webkit-margin-after: 10px !important;
            margin-block-end: 10px !important;
  }
  #about .container .right h2 {
    font-size: 35px !important;
  }
  #service ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #feature .feature-head {
    display: initial !important;
  }
  #feature ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #feature ul .feature-card .card-number {
    top: 0 !important;
    left: 36% !important;
    font-size: 6rem !important;
  }
  #blog ul .card-time {
    font-size: var(--fs-8) !important;
  }
  #blog ul .card-time :first-child {
    font-size: var(--fs-5) !important;
  }
  .newsletter-area .img {
    top: -12px !important;
  }
  .newsletter-area .newsletter-content {
    display: initial !important;
    top: -3% !important;
  }
  .newsletter-area .newsletter-content h2 {
    font-size: 2rem !important;
    padding: 30px 0;
  }
  .headline .title {
    font-size: 20px !important;
  }
  .headline .subtitle {
    font-size: 30px !important;
  }
  .headline .text {
    margin: 0 0 30px !important;
    font-size: 16px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .burger-menu {
    display: none !important;
  }
  nav {
    display: block !important;
  }
  #feature ul {
    -webkit-margin-before: 15% !important;
            margin-block-start: 15% !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  #feature ul .feature-card .card-number {
    top: -116px !important;
    left: 5% !important;
    font-size: 12rem !important;
  }
  .headline .text {
    width: 45% !important;
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  .header-contact-icon i {
    font-size: 1.5em !important;
  }
  .header-contact :first-child {
    font-size: 14px !important;
  }
  .header-contact :last-child {
    font-size: 20px !important;
  }
  .container {
    margin-inline: auto !important;
  }
  .container .hero-content {
    margin: var(--fs-17) 0;
  }
  .container .hero-content h2 {
    font-size: var(--fs-2) !important;
  }
  .container .hero-content h2 span {
    font-size: 5.7rem !important;
  }
  .container .hero-content p {
    font-size: 16px !important;
  }
  .container .hero-content a {
    font-size: 13px !important;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black_60);
  z-index: 5;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

header {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-padding-before: var(--fs-10);
  padding-block-start: var(--fs-10);
  position: relative;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  transition: var(--transition);
  z-index: 4;
}

header .hero-shape-img {
  position: absolute;
}

header .hero-shape-img-bottom {
  right: 29px;
  bottom: 30px;
}

header .hero-shape-img-top {
  top: 88px;
  left: 42px;
}
header .header-container .logo {
  font-family: var(--ff-oswald);
  font-size: var(--fs-5);
  color: var(--white);
}
header .header-container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container nav ul li {
  margin-right: var(--fs-7);
}
header .header-container nav ul li a {
  font-family: var(--ff-rubik);
  color: var(--white);
  font-size: 16px;
  transition: var(--transition);
  scroll-behavior: smooth;
}
header .header-container nav ul li a:hover {
  color: var(--dark-orange);
}
header .header-container .header-content {
  display: flex;
  align-items: center;
  font-family: var(--ff-rubik);
  color: var(--white);
}
header .header-container .header-content .header-contact :first-child {
  text-transform: uppercase;
  text-align: end;
}
header .header-container .header-content .header-contact a {
  font-size: var(--fs-7);
  font-weight: 600;
  color: var(--white);
}
header .header-container .header-content .header-contact-icon {
  margin-left: 1.25rem;
}
header .header-container .header-content .header-contact-icon i {
  color: var(--white);
  font-size: 2em;
}
header .header-container .burger-menu {
  display: none;
}
header .header-container .burger-menu .line {
  width: 20%;
  height: 1px;
}
header .active {
  background-color: var(--green-blue-crayola);
}
header .navbar {
  position: fixed;
  z-index: 3333;
  height: 100%;
  max-width: 18.75rem;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  top: 0;
  left: -300px;
}
header .navbar .top {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .top h2 a {
  color: var(--onyx);
  font-size: 1.875rem;
}
header .navbar .top button {
  margin-top: 10px;
}
header .navbar .bottom ul li {
  -webkit-border-before: 1px solid var(--plutinum);
          border-block-start: 1px solid var(--plutinum);
  padding: 15px !important;
}
header .navbar .bottom ul li:first-child {
  -webkit-border-before: 1px solid var(--plutinum);
          border-block-start: 1px solid var(--plutinum);
}
header .navbar .bottom ul li a {
  color: var(--black);
  font-weight: var(--ff-rubik);
  font-size: 1.125rem;
}
header .navbar.active {
  transform: translateX(300px);
  transition: 0.5s var(--cubic-out);
}
header #hero {
  padding-top: 70px;
}
header #hero .container .hero-content{
  margin-left: 20px;
}
header #hero .container .hero-content h2 {
  font-size: 6.6rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.3;
}
header #hero .container .hero-content h2 span {
  color: var(--dark-orange);
  font-size: 7.7rem;
  letter-spacing: 2px;
  display: block;
}
header #hero .container .hero-content p {
  font-size: var(--fs-8);
  color: var(--white);
  font-family: var(--ff-rubik);
  max-width: 36ch;
  margin: 20px 0 40px !important;
}
header #hero .container .hero-content a {
  padding: 12px 30px;
  color: var(--white);
  border: 1px solid var(--white);
  font: 600 18px var(--ff-rubik);
  text-transform: uppercase;
  transition: var(--transition);
}
header #hero .container .hero-content a:hover {
  background-color: var(--dark-orange);
  border: 1px solid var(--dark-orange);
}


footer {
  color: var(--prussian-blue);
  font-family: var(--ff-rubik);
  line-height: 1.7;
}
footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: self-end;
  padding-block: 60px;
}
footer .footer-top .logo {
  color: var(--prussian-blue);
  font-weight: bold;
  font-size: 2.6rem;
  font-family: var(--ff-oswald);
}
footer .footer-top .footer-text {
  margin-block: 10px 30px !important;
  font-size: 17px;
}
footer .footer-top .social-list {
  display: flex;
  gap: 10px;
}
footer .footer-top .social-list .social-link {
  background-color: var(--indigo-dye);
  color: var(--white);
  font-size: 20px;
  padding: 12px;
  transition: var(--transition);
}
footer .footer-top .social-list .social-link:hover {
  background-color: var(--prussian-blue);
}
footer .footer-top .footer-list {
  margin-top: var(--fs-10);
}
footer .footer-top .footer-list .footer-list-title {
  font-size: var(--fs-8);
  -webkit-border-after: 3px solid var(--dark-orange);
          border-block-end: 3px solid var(--dark-orange);
  -webkit-padding-after: 10px !important;
          padding-block-end: 10px !important;
  -webkit-margin-after: 20px !important;
          margin-block-end: 20px !important;
}
footer .footer-top .footer-list .footer-link {
  padding-block: 6px !important;
}
footer .footer-top .footer-list .footer-link a {
  color: var(--prussian-blue);
}
footer .footer-bottom {
  padding-block: 40px !important;
  -webkit-border-before: 1px solid var(--prussian-blue);
          border-block-start: 1px solid var(--prussian-blue);
  color: var(--indigo-dye);
}
footer .footer-bottom p {
  text-align: center;
}/*# sourceMappingURL=layout.css.map */