@import '_reset.scss';
@import './partials/mixin';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black_60);
    z-index: 5;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

body{
    height: 3000px;
}

//main
main {

    // about
    #about {
        padding-block: var(--section-padding);

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 90px;
        }

        .left {
            position: relative;

            .banner-img {
                box-shadow: var(--shadow-2);
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .shape {
                position: absolute;
                top: 210px;
                left: 105px;
                z-index: -1;
            }

            .branch-count {
                display: flex;
                width: 42%;
                height: 150px;
                background-color: var(--prussian-blue);
                position: absolute;
                bottom: 40px;
                left: 242px;
                box-shadow: var(--shadow-1);
                padding: 10px;
                font-family: var(--ff-oswald);
                color: var(--white) !important;

                .history {
                    writing-mode: vertical-rl;
                    text-align: end;
                }

                h1 {
                    margin-left: 40px !important;

                    :first-child {
                        color: var(--white) !important;

                        :first-child {
                            font-size: 63px;
                        }

                        font-size: 63px;
                    }

                    :last-child {
                        font-size: 18px;
                        margin-top: -11px !important;
                        color: var(--dark-orange);
                    }
                }
            }

            .line {

                height: 150px;
                width: 1%;
                background: var(--dark-orange);
                position: absolute;
                bottom: 40px;
                left: 86%;
            }
        }

        .right {
            width: 109%;
            margin-bottom: 50px;

            .title {
                color: var(--dark-orange);
                text-transform: uppercase;
                font-size: var(--fs-6);
                font-family: var(--ff-oswald);
                font-weight: var(--fw-600);
                letter-spacing: 3px;
                margin-block-end: 10px;
            }

            h2 {
                color: var(--prussian-blue);
                margin-block-end: 35px;
                font-size: var(--fs-4);
                line-height: 1.2;
                font-weight: var(--fw-600);
            }

            .section-text {
                color: var(--onyx);
                margin-block: 35px !important;
                line-height: 1.4;
                font-family: var(--ff-rubik);
            }

            .list {
                margin-block-end: 40px;

                .item {
                    margin-block-end: 10px;
                    display: flex;
                    color: var(--onyx);

                    .icon i {
                        color: var(--dark-orange);
                        margin-right: 10px;
                    }

                    .text {
                        font-size: 15px;
                        font-family: var(--ff-rubik);
                    }
                }
            }


        }
    }

    // service
    #service {
        background-color: var(--alice-blue);
        padding-block: var(--section-padding);

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            .card {
                background-color: var(--white);
                padding: 30px;
                border: 20px solid var(--cultured-3);
                transition: var(--transition);

                .card-icon {
                    margin-block-end: 30px;
                    height: 70px;

                    img {
                        width: 27%;
                        height: auto;
                    }
                }

                .card-title {
                    font-size: var(--fs-8);
                    color: var(--prussian-blue);
                    font-family: var(--ff-oswald);
                    font-weight: var(--fw-600);
                    letter-spacing: -1px;
                    text-transform: capitalize;

                    span {
                        display: inline-block;
                        color: var(--dark-orange);
                        font-size: var(--fs-4);
                        margin-inline-end: 15px;
                    }
                }

                .card-text {
                    line-height: 1.5;
                    margin: 10px 0 20px !important;
                    font-size: 16px;
                    color: var(--onyx);
                    font-family: var(--ff-rubik);
                }



                &:hover {
                    border-color: var(--dark-orange);
                }
            }

        }

    }

    // feature
    #feature {
        padding-block: var(--section-padding);

        .feature-head {
            display: grid;
            grid-template-columns: 4fr 1fr;
            align-items: center;
            justify-items: self-end;

            .headline {
                text-align: start !important;

                .text {
                    margin: 0 0 30px !important;
                }
            }

        }

        ul {
            position: relative;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
            margin-block-start: 120px;

            .feature-card {
                position: relative;
                padding: 30px;
                border: 1px solid var(--alice-blue);
                transition: var(--transition);
                padding-block-start: 80px;
                text-align: center;

                .card-number {
                    position: absolute;
                    color: var(--cultured-1);
                    font-family: var(--ff-oswald);
                    top: -116px;
                    left: 5%;
                    font-size: 12rem;
                    font-weight: var(--fw-700);
                    line-height: 1;
                    transition: var(--transition);
                }

                .card-icon {
                    width: 170px;
                    height: 170px;
                    background: var(--alice-blue);
                    border-radius: 50%;
                    @include displayFlex;
                    justify-content: center;
                    margin-inline: auto;
                    margin-block-end: 30px;
                }

                .card-content {
                    h3 {
                        font-size: var(--fs-8);
                        color: var(--prussian-blue);
                    }

                    p {
                        margin-block: 20px 40px !important;
                        line-height: 1.7;
                        font-size: 18px;
                        color: var(--onyx);
                    }
                }

                .card-btn {
                    a {
                        color: var(--prussian-blue);
                        font-size: 24px;
                        border: 2px solid var(--prussian-blue);
                        max-width: max-content;
                        margin-inline: auto;
                        padding: 10px 18px;

                    }
                }

                &:hover {
                    box-shadow: var(--shadow-2);

                    .card-number {
                        color: var(--dark-orange);
                    }
                }
            }
        }
    }

    // projects
    #projects {
        padding-block: var(--section-padding);
        background-color: var(--alice-blue);

        ul {
            display: flex;
            overflow-x: auto;
            gap: 20px;
            padding-block-end: 40px !important;
            scroll-snap-type: inline mandatory;

            &::-webkit-scrollbar {
                height: 15px;
            }

            &::-webkit-scrollbar-track {
                outline: 2px solid var(--prussian-blue);
            }

            &::-webkit-scrollbar-button {
                width: calc(25% - 40px);
            }

            &::-webkit-scrollbar-thumb {
                border: 3px solid var(--cultured-1);
                background-color: var(--prussian-blue);
            }

            .projects-card {
                position: relative;

                .card-img {
                    // bura bax
                    width: 397px;
                    height: 352px;

                    img {
                        width: auto;
                        height: auto;
                    }
                }

                .expand-btn {
                    background-color: var(--dark-orange);
                    color: var(--white);
                    font-size: 28px;
                    padding: 16px;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    opacity: 0;
                    transition: var(--transition);

                    a {
                        color: var(--white);
                    }
                }

                .card-content {
                    position: relative;
                    background-color: var(--white);
                    padding: 20px 30px;
                    margin-inline-start: 30px;
                    margin-block-start: -50px;
                    line-height: 1.5;

                    p {
                        color: var(--dark-orange);
                        font-family: var(--ff-rubik);
                        text-transform: capitalize;
                    }

                    h3 {
                        font-size: 18px;
                        color: var(--prussian-blue);
                        text-transform: capitalize;
                    }

                    a {
                        color: var(--prussian-blue);
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 600;
                        transition: var(--transition);

                        &:hover {
                            color: var(--dark-orange);
                        }
                    }
                }

                &:hover {
                    .expand-btn {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #blog {
        padding-block: var(--section-padding);

        .slick-initialized .slick-slide {
            margin-left: 15px;
        }

        ul {

            .card-img {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-content {
                .card-time {
                    position: relative;
                    background-color: var(--prussian-blue);
                    color: var(--white);
                    text-align: center;
                    font-size: var(--fs-5);
                    font-family: var(--ff-oswald);
                    font-weight: var(--fw-600);
                    line-height: 1.5;
                    max-width: max-content;
                    margin-inline: auto 20px;
                    margin-block: -80px 20px;
                    padding: 20px 25px;
                    box-shadow: -8px 8px 0 var(--dark-orange);

                    :first-child {
                        color: var(--dark-orange);
                        font-size: var(--fs-4);
                        font-weight: var(--fw-700);
                        line-height: 0.75;
                    }
                }

                h3 {
                    font-family: var(--ff-rubik);
                    font-weight: 600;
                    font-size: 22px;

                    a {
                        color: var(--prussian-blue);
                    }
                }

                .card-text {
                    color: var(--onyx);
                    margin-block: 15px !important;
                }
            }
        }
    }


}


//btn
.btn-link {
    color: var(--dark-orange);
    text-transform: uppercase;
    @include displayFlex;
    gap: 5px;
    overflow: hidden;
    transform: translateX(-14px);
    transition: var(--transition);

    i {
        transform: translateX(-14px);
        transition: var(--transition);
    }

    &:hover {
        transform: translateX(14px);

        i {
            transform: translateX(0px);
        }
    }
}

@media (max-width:576px) {

    // feature
    #feature {
        .feature-head {
            img {
                display: none !important;
            }

            .btn {
                font-size: var(--fs-11) !important;

            }
        }


        ul {
            grid-template-columns: repeat(1, 1fr) !important;

            .feature-card {
                .card-number {
                    top: 0px !important;
                    left: 36% !important;
                    font-size: 4rem !important;
                }
            }
        }

    }

    // service
    #service ul {
        grid-template-columns: repeat(1, 1fr) !important;

    }

}

@media (max-width:1180px) and(min-width:768px) {
    #service ul {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    
    #feature {
        ul {
            grid-template-columns: repeat(2, 1fr) !important;
            .feature-card {
                .card-number {
                    top: 0 !important;
                    left: 36% !important;
                    font-size: 6rem !important;
                }
            }
        }
    }

    #blog {
        ul {
            .card-time {
                font-size: var(--fs-8) !important;

                :first-child {
                    font-size: var(--fs-5) !important;
                }
            }
        }
    }



}

@media (min-width:1024px)and(max-width:1366px) {


    #feature {
        ul {
            margin-block-start: 15% !important;
            grid-template-columns: repeat(3, 1fr) !important;

            .feature-card {
                .card-number {
                    top: -116px !important;
                    left: 5% !important;
                    font-size: 12rem !important;
                }
            }
        }
    }

  
}


