{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   {% include 'template/head.html' %}
    <!-- added css -->
    <link rel="stylesheet" href="{% static "/assets/scss/common/common.css" %}">
    <link rel="stylesheet" href="{% static "/assets/scss/layout/layout.css" %}">
    <link rel="stylesheet" href="{% static "/assets/scss/solution/solution.css" %}">
</head>

<body>
    <div class="overlay"></div>


    <!-- start header -->
    <header style="background-image: url('{% static "/assets/imgs/hero-banner.jpg" %}');">
        
        <!-- start navbar -->
        {% include 'template/navbar.html' %}
        <!-- end navbar -->

        <!-- start breadcrumb section -->
        <section id="breadcrumb-area">
            <div class="container" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <h1 class="name">Solutions & Specialized</h1>
                <span>
                    <a href="{% url 'index' %}">Home </a>
                    <i class="fa-solid fa-arrow-right fa-sm"></i>
                    <a href="{% url 'index' %}#feature">Estimation </a>
                    <i class="fa-solid fa-arrow-right fa-sm"></i>
                    <a href="{% url 'solutions' %}">Solutions & Specialized</a>
                </span>
            </div>
        </section>
        <img class="hero-shape-img hero-shape-img-top" src=".{% static "/assets/imgs/hero-shapepng" %}" alt="">
        <img class="hero-shape-img hero-shape-img-bottom" src="{% static "/assets/imgs/hero-shape.png" %}" alt="">
        <!-- end breadcrumb section -->

    </header>
    <!-- end header -->
    <main>
        <section id="solution">
            <img class="plane" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000"
            data-aos-easing="ease-in-sine" src="{% static "/assets/imgs/about-one__img1.jpg" %}" alt="">
            <img class="human" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000"
            data-aos-easing="ease-in-sine" src="{% static "/assets/imgs/solution.png" %}" alt="">
            <img class="mining" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000"
            data-aos-easing="ease-in-sine" src="{% static "/assets/imgs/solution2.png" %}" alt="">
            <div class="container" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000"
            data-aos-easing="ease-in-sine">
                <div class="headline">
                    <h2 class="subtitle">Transportation Solutions</h2>
                </div>

                <div class="content-header">
                    <div class="title">
                        <h2>Transportation for the Energy Industry</h2>
                    </div>
                </div>
                <div class="content">
                    <p>Transport Chainé enjoys a wealth of expertise in the transportation of oversized goods for the
                        energy sector.
                    </p>
                    <ul>
                        <p>We Transport</p>
                        <li>Transformers </li>
                        <li>Electrical equipment</li>
                        <li>Electric motors</li>
                        <li>Turbines </li>
                        <li>Generator units</li>
                        <li>and much more</li>
                    </ul>
                    <p>
                        Moreover, our entire staff is qualified to work in electrical substations and hydroelectric
                        power plants. We also offer insurance coverage for a minimum amount of two million dollars to
                        protect your equipment.
                    </p>
                </div>
                <div class="content-header ml-40">
                    <div class="title">
                        <h2>Transportation Solutions Tailored to the Mining Industry</h2>
                    </div>
                </div>
                <div class="content ml-40">
                    <p>The Transport Chainé team is able to meet the unique challenges faced by the mining sector
                        without a hitch!
                    </p>
                    <ul>
                        <li>Difficult to reach locations</li>
                        <li>Intermodal transportation</li>
                        <li>Rough terrain</li>
                        <li>Transportation of oversized equipment</li>
                        <li>Complex handling</li>
                    </ul>
                    <p>
                        Transport Chainé knows all the ins and outs of the mining world. Avoid delays and unpleasant
                        surprises. Choose a team of true professionals! We also offer insurance coverage for a minimum
                        amount of two million dollars to protect your equipment.
                    </p>
                </div>

                <div class="content-header">
                    <div class="title">
                        <h2>Specialized Transportation for Large Projects</h2>
                    </div>
                </div>
                <div class="content">
                    <p>Do you think big? We do too! Transport Chainé is your best ally when it comes to transporting
                        oversized and complex material associated with large projects.
                    </p>
                    <ul>
                        <li>Heavy machinery</li>
                        <li>Complex equipment</li>
                        <li>Site buildings</li>
                        <li>Generators</li>
                        <li>Large mechanical parts</li>
                        <li>and much more</li>
                    </ul>
                    <p>
                        We have the equipment required to ensure proper and safe handling of heavy material. We also
                        offer insurance coverage for a minimum amount of two million dollars to protect your equipment.
                    </p>
                </div>

            </div>
        </section>
        <!-- start newsletter section -->
        {% include 'template/newsletter.html' %}
        <!-- end newsletter section -->
    </main>
    <!-- start footer -->
    {% include 'template/footer.html' %}
    <!-- end footer -->

    <!-- back to top button -->
    <a href="#top" class="back-top-btn">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</body>
<script src="{% static "/assets/js/common.js" %}"></script>
<!-- added aos -->
<script src="{% static "/assets/aos/aos-master/dist/aos.js" %}"></script>
<script>
    AOS.init();
</script>

</html>